.qr_parent {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
    /* background: linear-gradient(to bottom, #175d69 23%, #330c43 95%); */

}

.container-qr {
    display: flex;
    flex-direction: column;
    background: rgb(243, 247, 250);
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
    /* background-color: #2196F3; */
}

.output-div {
    display: flex;
    align-items: center;
    justify-content: center;
}




/* Main Links are style */

.container-wrapper {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.qr-links-parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-bottom: 12px;
    flex-direction: row;
    cursor: pointer;
}

.sub_menu_items {
    /* Add any styling you want for each grid item */
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    border-radius: 3px;
    transition: .3s;

}

.sub_menu_items:hover {
    transition: .3s;
    border: 1px solid #3d3d3d;
}






.preview-continer {
    background-color: white;
    padding: 50px;
    /* Use percentage or max-width */
    min-height: 60vh;
    /* margin-top: 2rem; */
    border-radius: 4px;
    /* outline: 1.45px solid rgb(0, 0, 0, 0.35); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 7rem;
    max-width: 800px;
    margin-left: 10px;
    /* background-color: ; */

}




.preview-continer img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}





.preview-continer .test_qr_download .test_qr_download:active {
    transform: scale(0.99);

}

.test_qr_download {
    display: inline-flex;
    background-color: #42A5F5;
    border-radius: 8px;
    border: none;
    outline: none;
    text-decoration: none;
    padding: 16px 32px;
    text-align: center;
    color: white;
    margin-top: 3rem;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s;

}

.test_qr_download i {
    font-weight: 900;
}

.preview-continer .test_qr_download:hover {
    background-color: #2196F3;
}



@media (max-width: 1000px) {
    .qr_parent {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* background-color: #2196F3; */
    }

    .preview-continer {
        width: 100%;
        /* max-width: 1000px; */
        /* width: inherit; */
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* background-color: #2196F3; */
    }

    .preview {
        /* background-color: black; */
        width: 100%;
    }

    .preview img {
        margin: auto;
    }
}


@media (max-width: 600px) {
    .preview img {
        display: block;
        margin: auto;
        /* background-color: #11ab7c; */
    }

    .preview-continer .test_qr_download {
        margin-left: 5rem;
        /* background-color: #11ab7c; */
    }

    .qr-links-parent {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media(max-width: 550px) {
    .qr-links-parent{
        /* background-color: #2196F3; */
        margin-left: 3rem;
    }
}

@media(max-width: 436px) {
    .qr-links-parent{
        /* background-color: #2196F3; */
        margin-left: 10rem;
    }
}


@media(min-width: 380px) and (max-width: 480px) {
    .qr-links-parent{
        /* background-color: #2196F3; */
        /* font-size: 1.2rem;
        font-weight: 700; */
        /* margin-left: 1rem; */
        grid-template-columns: repeat(2, 3fr);
        background-color: #2196F3;
    }
}