.premium-parent {
  width: 100vw;
  background-color: #47474f;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
  padding-top: 50px;
}

.child-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.title-section {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-text {
  font-size: 3rem;
  font-weight: 600;
  white-space: nowrap;
}

.title-description {
  font-size: 1rem;
  padding-top: 10px;
  font-weight: 400;
}

.premium-button-parent {
  margin-top: 20px;
  background-color: #FFC233;
  color: #33333b;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  padding: 10px;
  /* max-width: 30%; */
  /* padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px; */
  border-radius: 7px;
  cursor: pointer;
}

.premium-button-parent:hover{
  background: #E5AE2E;
}

.premium-image {
  width: 40vw;
}

@media (max-width: 400px) {
  .title-text {
    font-size: 2rem;
  }
}

@media (max-width: 730px) {
  .child-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .premium-image {
    width: 80vw;
  }

}


@media (max-width: 730px){
  .btn-primary{
    width: 100%;
  }
}

/* @media (min-width: 340px)   and (max-width: 580px){
  .premium-section{
    width: 100vw;
    /* heioght */
    /* background-color: #FFC233; */
    /* max-width: 2000px; */
    
    /* background: #eee; */
  /* }

  
} */
