.Whats {
    
    background-color: #fbfbff;
    width: 1600px;
    margin: 0 auto;
    overflow: hidden


    
}

.Whats .col-md-6{
    display: flex;
  flex-direction: column;
}



.Whats h2{
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 20px;
  color: black;
}



.Whats p{
    font-size: 1.2em;
  text-align: left;
  
  font-weight: 400;
  color: black;
}

.Whats .container{
    /* background-color: #fbfbff; */
    /* width: 100%;
    max-width: 600px;
    text-align: center;
    padding: 20px; */


    float: left;
    width: 100%;
    padding: 20px
}






.row img .whatsQR{
    /* margin-left: 18rem; */
    width: 100%;
    max-width: 600px; /* Adjust the max-width based on your design */
    margin-top: 10px; /* Adjust spacing between content and image */
    /* background-color: blue; */
}




  @media (min-width: 768px) {
    /* Add additional styling for larger screens if needed */
    .container {
      flex-direction: row;
      justify-content: space-between;
    }
  
    .content {
      width: 45%; /* Adjust the width based on your design */
      margin-right: 10px; /* Adjust spacing between content and image */
    }
  
    .image {
      width: 45%; /* Adjust the width based on your design */
    }
  }