


@media (min-width: 370px) and (max-width: 768px){
    .generate_qr{
      width: 100%;
      /* padding: 12px 23px; */
      /* background-color: #2A354F; */
    }
  }
  @media (min-width: 360px) and (max-width: 614px) {

    .container h2,
    label {
      /* display: flex; */
      /* margin: auto; */
      flex-direction: column;
      margin-right: 4rem;
      background-color: #84c45c;
    }
  }