.qr_parent_div {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: row;
    width: 100vw;
}

.container-qr {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background: rgb(243, 247, 250);
}

.preview {
    width: 16%;
    display: grid;
    flex-direction: column;
    background-color: black;
}

.preview-continer {
    background-color: white;
    min-width: 320px;
    min-height: 60vh;
    border-radius: 4px;
    outline: 1.45px solid rgb(0, 0, 0, 0.35);

}


.container-wrapper {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #e9ecef;
    height: 167px;
    /* position: relative; */
    width: 571px;
    flex-direction: row;
}

.qr-links {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.output-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

section .container-wrapper .qr-links {
    display: flex;
    justify-content: space-between;
    /* flex-direction: row; */
    left: 0;
    flex-wrap: wrap;
    margin-top: 1.4rem;
}





/* Main Links are style */



section .container-wrapper .alag {
    flex-direction: column;
    justify-content: flex-start;
    /* margin-top: 43px; */
    margin-right: 0.68rem;

}


section .container-wrapper .alag:hover {

    color: #11ab7c;
    transition: 0.5s linear;
}


section .qr-links a {

    cursor: pointer;
    align-items: stretch;
    flex-direction: column;
    justify-content: flex-start;
    margin: 2px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    border-radius: 2px;
}






.preview-continer img {
    display: block;
    margin: auto;
    height: auto;
    /* outline: 1px solid rgb(0, 0, 0,0.45);
    border-radius: 5px; */

}


.preview-continer .test_qr_download button:hover {
    background-color: #e9ecef;
    background-color: rgb(69, 56, 202);
    color: black;

}


.preview-continer .test_qr_download button:active {
    transform: scale(0.99);

}


/* preview media quries  */



@media (max-width: 1300px) {
    section {
        flex-direction: column;
        align-items: center;
    }

    .container-qr {
        margin-top: 2rem;
    }

    /* 
    .preview {
        margin-top: 2rem;
    } */

    .preview-continer {
        flex-grow: 1;
        background-color: #f4f4f4;
    }

    .qr_parent_div {
        flex-direction: column;
    }
}


@media (max-width: 768px) {
    .preview {
        flex-direction: column;
        margin-right: 0;
        margin-top: 2rem;
    }
}